$primary-text-color: #212121;
$text-color-p: #757575;
$white: #ffffff;
$main-background: #e5e5e5;
$hero-footer-bcg: #2f303a;
$footer-address: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$icon-fill-col: #afb1b8;
$bcg-team: #f5f4fa;
$overlay-blue: rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
