@import "./utils/vars";
@import "./utils/placeholders";

@import "./components/body";
@import "./components/header-page";
@import "./components/logo";
@import "./components/site-nav";
@import "./components/info-contacts";

@import "./components/filter";
@import "./components/filter-list";
@import "./components/offer";
@import "./components/offer-overlay";
@import "./components/offer-card-descr";

@import "./components/footer";
@import "./components/footer-address";
@import "./components/footer-social";
@import "./components/footer-form";
