.occupation {
  padding-bottom: 94px;
}

.container {
  @extend %container;
}

.occupation-title {
  margin-bottom: 50px;
  margin-top: 0;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
