.occupation-pics {
  display: flex;
  flex-wrap: wrap;
  @extend %list;

  .item {
    width: 370px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

img {
  @extend %img;
}

.thumb-occup {
  position: relative;

  .occup-overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;
    padding-top: 27px;

    background-color: rgba(47, 48, 58, 0.8);
  }

  .occup-overlay-text {
    margin: 0;

    color: $primary-bg;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
