.offer-thumb {
  position: relative;
  overflow: hidden;

  .thumb-img {
    @extend %img;
  }

  .offer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: $accent-color;

    transition: transform 250ms $timing-function;
  }

  .overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $primary-bg;
  }
}
