.social-list {
  @extend %list;
  margin-top: 16px;
  display: flex;
  justify-content: center;

  .social-item:not(:last-child) {
    margin-right: 10px;
  }

  .icon {
    margin: 0;
    padding: 0;
    fill: currentColor;
  }

  .social-link {
    @extend %social-link;
  }
}
