$primary-text-color: #212121;
$light-text-color: #757575;

$accent-color: #2196f3;
$primary-bg: #ffffff;
$main-background: #e5e5e5;
$dark-bcg: #2f303a;
$footer-address: rgba(255, 255, 255, 0.6);
$icon-fill-color: #afb1b8;
$bcg-team-color: #f5f4fa;
$overlay-blue: rgba(33, 150, 243, 0.9);
$border-color: #ececec;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
